body{
    background-color: tan;
}
header{
    width:100%;
    background-color: black;
    height:500px;

}
#sec1{
    display:black;
    float:left;
    margin:25px;
    width:500px;
    height:500px;
    background-color: blue;
}
#sec2{
    display:black;
    float:right;
    margin: 25px;
    width:850px;
    height:500px;
    border-style: solid;
    font-size: 28px;
}
#sec3{
    Display:black;
    float: left;
    margin: 25px;
    width:500px;
    height:500px;
    font-size: 24px;
    border-style: solid;
}
#sec4{
    Display:black;
    float:right;
    margin:25px;
    width:850px;
    height:500px;
    background-color: lightsalmon;
}
#sec5{
    Display:black;
    float:left;
    margin:25px;
    width:500px;
    height:500px;
    background-color:lightgray;
}
#sec6{
    Display:black;
    float: right;
    margin: 25px;
    width:850px;
    height:500px;
    border-style: solid;
    font-size: 30px;
}  
footer{
    width:80%;
    height:337.5px;
    border-style: solid;
    background-color: darkgoldenrod;
    margin-top:1700px;
    margin-left: 150px;
}
h1{
    font-family:Georgia, 'Times New Roman', Times, serif
}
h2{
    text-align:center;
    font-family:Georgia, 'Times New Roman', Times, serif
}
h3{text-align: center;
   font-family: Georgia, 'Times New Roman', Times, serif;
   font-size: 30px;
}
blockquote{
    text-align: center;
    font-size: 40px;
}
h4{text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
}
iframe{
   float:right;
}
footer>p{
    font-size: 25px;
    text-align: center;
}